<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>会員情報入力</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<link href="layout.css" rel="stylesheet" type="text/css" />
</head>
<body>
会員情報を入力してください
<br>

<form action="Hakkou" method="post">
受注番号　：　<input type="text" name="juchuno">
<br>
社員番号　：　<input type="text" name="shainno">
<br>

<input type="submit">
</form>
</body>
</html>