@CHARSET "UTF-8";

<style type = text/css>
.IE {
	text-align: center; /* IE用の中央寄せ */
	width: 995px; /* 幅 */
}

.Other {
	margin-left: auto; /* IE以外用の中央寄せ */
	margin-right: auto; /* IE以外用の中央寄せ */
	width: 995px; /* 幅 */
}

div#right {
 margin-top:-20px;
}

.page-break-before    {
    page-break-before:always
}


* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	height: 100%;
	background-image: url(shirt.jpg);
	background-attachment: fixed; /* 注 背景を固定させたくない場合は削除*/
	background-size: cover;
}

#contents {
	width: 990px; /*実際のホームページの横幅*/
	margin: 0 auto;
	background-color: #FFFFFF;
	background-repeat: repeat-y; /*縦に繰り返し*/
	position: relative; /*相対位置で指定する*/
	font-size: 100%; /*全体の文字サイズを少し小さくする*/
}

/*メイン部分の設定*/
#main {
	background-image: url(haikei.png);
	width: 980px; /*デザインのバランスを考えコンテンツより少し幅を小さくする*/
	margin-top: 0px; /*上から少しスペースを空ける*/
	margin-left: opx; /*左に少しスペースを空ける*/
	height: 303px;
}

body>#bodyimage1,#bodyimage2 {
	height: auto;
}

--> /*タイトル文字の設定*/
#header p {
	background-image: url(stadium.jpg); /*ヘーダーの背景画像の指定*/
	font-size: 15px; /*タイトル文字のサイズ指定*/
	padding-top: 10px; /*上からの位置を調整する*/
	padding-left: 10px; /*左に少しスペースを空ける*/
	background-position: left; /*開始位置を右上に指定*/
	height: 30px; /*ヘーダーの高さ*/
	background-size: 990px 180px;
}

/*メインメニューの設定*/
#nav {
	background-color: #000000; /*メニューボタンの背景色*/
	width: 100%; /*ページの幅いっぱいに設定*/
	height: 30px; /*メニューバーの高さ*/
	position: relative; /*相対位置で指定する*/
	border-bottom: 1px solid #33ccFF; /*下にライン引く*/
}

#nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 13px; /*メニューボタンの文字のサイズ*/
	line-height: 30px; /*メニューボタンの縦の幅*/
	letter-spacing: 2px; /*文字と文字の間隔を少し空ける*/
}

#nav li {
	background-color: #000000; /*メニューのボタンの背景*/
	float: left; /*右横へ並んで表示するように指定*/
	width: 141px; /*メニューボタンの幅*/
	text-align: center; /*メニューの文字をセンター合わせに指定*/
	margin: 0;
	padding: 0;
	border-right: solid 1px #cccccc; /*メニューボタンの右にラインを入れる*/
}

/*メインメニューの文字の色を変化させる設定*/
#nav a {
	color: #ffffff; /*メニューボタンの文字の色*/
	text-decoration: none; /*リンク文字の下線を消す設定*/
}

#nav a:hover {
	color: #000099; /*メニューの文字がカーソルが来た時、この色に変わる*/
}

/*下部のフッター部分の設定*/
address {
	background-color: #0000AC; /*フッターの背景色*/
	width: 100%; /*フッターの幅をコンテンツの幅ピッタリにする*/
	font-size: 80%; /*文字は少し小さめに指定*/
	text-align: center; /*文字をセンター合わせにする*/
	padding-top: 10px; /*文字の上に少しスペースを空ける*/
	padding-bottom: 10px; /*文字の下に少しスペースを空ける*/
}

address a:hover {
	color: #FF0000; /*カーソルが上に来た時文字の色を変える*/
}









#box25 {
 width: 23px;
 height: 25px;
 border: 1px solid #000000;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 10px; /*上からの位置を調整する*/
 }

#box30 {
 width: 28px;
 height: 25px;
 border: 1px solid #000000;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 10px; /*上からの位置を調整する*/
 }

  #box30s {
 width: 28px;
 height: 35px;
 border: 1px solid #000000;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 15px; /*上からの位置を調整する*/
 }

#box40 {
 width: 38px;
 height: 25px;
 border: 1px solid #000000;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 10px; /*上からの位置を調整する*/
 }

  #box40s {
 width: 38px;
 height: 35px;
 border: 1px solid #000000;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 15px; /*上からの位置を調整する*/
 }

#box50 {
 width: 48px;
 height: 25px;
 border: 1px solid #000000;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 10px; /*上からの位置を調整する*/
 }

 #box50c {
 width: 48px;
 height: 25px;
 border: 1px solid #000000;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 10px; /*上からの位置を調整する*/
 }

  #box50s {
 width: 48px;
 height: 35px;
 border: 1px solid #000000;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 15px; /*上からの位置を調整する*/
 }

 #box50d {
 width: 48px;
 height: 35px;
 border: 1px solid #FFFFFF;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 15px; /*上からの位置を調整する*/
 }

 #box60 {
 width: 58px;
 height: 25px;
 border: 1px solid #000000;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 10px; /*上からの位置を調整する*/
 }

 #box75 {
 width: 73px;
 height: 25px;
 border: 1px solid #000000;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 10px; /*上からの位置を調整する*/
 }

  #box75a {
 width: 73px;
 height: 25px;
 border: 1px solid #FFFFFF;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 10px; /*上からの位置を調整する*/
 }

#box75c {
 width: 73px;
 height: 25px;
 border: 1px solid #FFFFFF;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 10px; /*上からの位置を調整する*/
 }


  #box75s {
 width: 73px;
 height: 35px;
 border: 1px solid #000000;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 15px; /*上からの位置を調整する*/
 }


  #box90 {
 width: 93px;
 height: 25px;
 border: 1px solid #000000;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 10px; /*上からの位置を調整する*/
 }

  #box95 {
 width: 93px;
 height: 25px;
 border: 1px solid #FFFFFF;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 10px; /*上からの位置を調整する*/
 }



#box100 {
 width: 98px;
 height: 25px;
 border: 1px solid #000000;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 10px; /*上からの位置を調整する*/
 }

 #box100a {
 width: 98px;
 height: 20px;
 border: 1px solid #000000;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 10px; /*上からの位置を調整する*/
 }

  #box100b {
 width: 98px;
 height: 15px;
 border: 1px solid #000000;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
 }

  #box100c {
 width: 98px;
 height: 15px;
 border: 1px solid #000000;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
 }

 #box100d {
 width: 98px;
 height: 25px;
 border: 1px solid #FFFFFF;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 10px; /*上からの位置を調整する*/
 }

 #box125 {
 width: 123px;
 height: 25px;
 border: 1px solid #000000;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 10px; /*上からの位置を調整する*/
 }

  #box125a {
 width: 123px;
 height: 20px;
 border: 1px solid #000000;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 10px; /*上からの位置を調整する*/
 }

   #box125b {
 width: 123px;
 height: 15px;
 border: 1px solid #000000;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
 }



#box150 {
 width: 148px;
 height: 25px;
 border: 1px solid #000000;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 10px; /*上からの位置を調整する*/
 }

 #box150z {
 width: 148px;
 height: 35px;
 border: 1px solid #000000;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
 }

 #box160 {
 width: 158px;
 height: 25px;
 border: 1px solid #000000;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 10px; /*上からの位置を調整する*/
 }

   #box170 {
 width: 168px;
 height: 25px;
 border: 1px solid #000000;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 10px; /*上からの位置を調整する*/
 }

 #box175 {
 width: 173px;
 height: 25px;
 border: 1px solid #000000;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 10px; /*上からの位置を調整する*/
 }

  #box175a {
 width: 173px;
 height: 25px;
 border: 1px solid #FFFFFF;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 10px; /*上からの位置を調整する*/
 }

  #box175s {
 width: 173px;
 height: 45px;
 border: 1px solid #000000;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 5px; /*上からの位置を調整する*/
 }

  #box175e{
 width: 173px;
 height: 45px;
 border: 1px solid #FFFFFF;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 5px; /*上からの位置を調整する*/
 }

#box200 {
 width: 198px;
 height: 25px;
 border: 1px solid #000000;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 10px; /*上からの位置を調整する*/
 }

 #box200a {
 width: 198px;
 height: 25px;
 border: 1px solid #FFFFFF;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 10px; /*上からの位置を調整する*/
 }

#box200c {
 width: 198px;
 height: 25px;
 border: 1px solid #FFFFFF;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 10px; /*上からの位置を調整する*/
 }

 #box200d {
 width: 198px;
 height: 25px;
 border: 1px solid #FFFFFF;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 10px; /*上からの位置を調整する*/
 }

   #box215n {
 width: 213px;
 height: 25px;
 border: 1px solid #FFFFFF;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 10px; /*上からの位置を調整する*/
 }


   #box220n {
 width: 218px;
 height: 25px;
 border: 1px solid #FFFFFF;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 10px; /*上からの位置を調整する*/
 }

 #box225 {
 width: 223px;
 height: 25px;
 border: 1px solid #000000;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 10px; /*上からの位置を調整する*/
 }

  #box225c {
 width: 223px;
 height: 25px;
 border: 1px solid #000000;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 10px; /*上からの位置を調整する*/
 }

    #box225n {
 width: 223px;
 height: 25px;
 border: 1px solid #FFFFFF;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 10px; /*上からの位置を調整する*/
 }

    #box225n1 {
 width: 223px;
 height: 15px;
 border: 1px solid #FFFFFF;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 20px; /*上からの位置を調整する*/
 }

     #box225n2 {
 width: 223px;
 height: 35px;
 border: 1px solid #FFFFFF;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
 }

      #box225n3 {
 width: 223px;
 height: 15px;
 border: 1px solid #000000;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
 }



 #box250 {
 width: 248px;
 height: 25px;
 border: 1px solid #000000;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 10px; /*上からの位置を調整する*/
 }

 #box250n {
 width: 248px;
 height: 25px;
 border: 1px solid #FFFFFF;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 10px; /*上からの位置を調整する*/
 }

#box250z {
 width: 248px;
 height: 25px;
 border: 1px  solid #000000;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 10px; /*上からの位置を調整する*/
border-bottom:none
 }

 #box250d {
 width: 248px;
 height: 25px;
 border: 1px  solid #FFFFFF;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 10px; /*上からの位置を調整する*/
border-bottom:none
 }

 #box275 {
 width: 273px;
 height: 25px;
 border: 1px solid #000000;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 10px; /*上からの位置を調整する*/
 }

  #box275d {
 width: 273px;
 height: 25px;
 border: 1px solid #FFFFFF;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 10px; /*上からの位置を調整する*/
 }

 #box300 {
 width: 298px;
 height: 25px;
 border: 1px solid #000000;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 10px; /*上からの位置を調整する*/
 }

  #box325 {
 width: 323px;
 height: 25px;
 border: 1px solid #000000;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 10px; /*上からの位置を調整する*/
 }

 #box350 {
 width: 348px;
 height: 25px;
 border: 1px solid #FFFFFF;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 10px; /*上からの位置を調整する*/
 }

 #box350a {
 width: 800px;
 height: 25px;
 border: 1px solid #FFFFFF;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 10px; /*上からの位置を調整する*/
 }

    #box375 {
 width: 373px;
 height: 15px;
 border: 1px solid #000000;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
 }

    #box375a {
 width: 373px;
 height: 30px;
 border: 1px solid #000000;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
 }

   #box380 {
 width: 378px;
 height: 25px;
 border: 1px solid #FFFFFF;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 10px; /*上からの位置を調整する*/
 }

  #box380a{
 width: 378px;
 height: 25px;
 border: 1px solid #000000;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 10px; /*上からの位置を調整する*/
 }




 #box400 {
 width: 398px;
 height: 25px;
 border: 1px solid #000000;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 10px; /*上からの位置を調整する*/
 }

 #box400n {
 width: 398px;
 height: 25px;
 border: 1px solid #FFFFFF;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 10px; /*上からの位置を調整する*/
 }

  #box400a {
 width: 398px;
 height: 40px;
 border: 1px solid #000000;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
 }

  #box425 {
 width: 423px;
 height: 25px;
 border: 1px solid #FFFFFF;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 10px; /*上からの位置を調整する*/
 }

  #box425a {
 width: 423px;
 height: 25px;
 border: 1px solid #000000;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 10px; /*上からの位置を調整する*/
 }


    #box450 {
 width: 448px;
 height: 25px;
 border: 1px solid #000000;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 10px; /*上からの位置を調整する*/
 }

   #box450a {
 width: 448px;
 height: 25px;
 border: 1px solid #FFFFFF;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 10px; /*上からの位置を調整する*/
 }

     #box450z {
 width: 448px;
 height: 25px;
 border: 1px solid #000000;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 10px; /*上からの位置を調整する*/
border-top:none;
 }

     #box475 {
 width: 473px;
 height: 25px;
 border: 1px solid #000000;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 10px; /*上からの位置を調整する*/
 }


     #box475n {
 width: 473px;
 height: 25px;
 border: 1px solid #FFFFFF;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 10px; /*上からの位置を調整する*/
 }

 #box500 {
 width: 498px;
 height: 25px;
 border: 1px solid #000000;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 10px; /*上からの位置を調整する*/
 }

     #box525 {
 width: 523px;
 height: 25px;
 border: 1px solid #000000;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 10px; /*上からの位置を調整する*/
 }

     #box550 {
 width: 548px;
 height: 25px;
 border: 1px solid #000000;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 10px; /*上からの位置を調整する*/
 }

   #box600a {
 width: 598px;
 height: 25px;
 border: 1px solid #FFFFFF;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 10px; /*上からの位置を調整する*/
 }


    #box675 {
 width: 673px;
 height: 25px;
 border: 1px solid #FFFFFF;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 10px; /*上からの位置を調整する*/
 }

     #box950 {
 width: 950px;
 height: 25px;
 border: 1px solid #FFFFFF;/*枠の色*/
background-color: #FFFFFF;/*ボックス内の色*/
float: left;/*ボックスを右に回り込ませる*/
padding-top: 10px; /*上からの位置を調整する*/
 }
</style>
